
@media (max-width : 992px){
  .gallery{
    grid-template-rows: 3rem repeat(9, 50vh);
    grid-template-columns: 1rem 5fr 1rem;
  }

  .gal-item1{
    grid-area: 2 / 2;
    background-position: center;
  }

  .gal-item2{
    grid-area: 3/ 2;
  }

  .gal-item3{
    grid-area: 4/2;
  }

  .gal-item4{
    grid-area: 5/2;
  }

  .gal-item5{
    grid-row: 6;
    grid-area: 6/ 2;
  }

  .gal-item6{
    grid-row: 7;
    grid-area: 7/2;
  }

  .gal-item7{
    grid-area: 8/2;
  }

  .gal-item8{
    grid-area: 9/2;
  }

  .gal-item9{
    grid-area: 10/2;
  }
}