@media screen and (width < 700px) {

  /* Hero Section */
  .hero-wrapper{
    grid-template-columns: 1rem repeat(3, 3fr) 1rem;
    background-position: left;
  }

  .hero-title{
    font-size: 55px;
    grid-column: 2 /span 3;
  }

  .hero-banner{
    font-size: 25px;
  }

  .cta1{
    height: 3rem;
    width: 9rem;
    
    grid-column: 2;

  }

  .cta2{
    height: 3rem;
    width: 9rem;

    grid-column: 4;
    justify-content: center;
  }
}