/* First breakpoint */
@media screen and (width: 992px){
  .head-wrap{
    padding: 1.3rem 5%;
  }
}

/* Second breakpoint */
@media screen and (width < 700px) {
  /* Nav */
  .icons{
    display: inline-flex;
  }

  /* Checks if checkbox is checked, then targets #menu-icon from .icons wrapper which then sets it to disappear and be replaced */
  #check:checked~.icons #menu-icon {
    display: none;
  }
  
  .icons #close-icon{
    display: none;
  }
  /* Checks if checkbox is checked, then targets #close-icon from .icons wrapper which appears after #close-icon disappears */
  #check:checked~.icons #close-icon {
    display: block;
  }
  
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;

    background: rgba(0,0,0,.1);
    backdrop-filter: blur(10px);
    /* Prevents navbar from being shown when checkbox is not yet clicked */
    overflow: hidden;
    transition: .3s ease;
  }
  
  #check:checked~.navbar {
    height: 17.7rem;
  }
  .navbar .nav-items{
    display: block;
    text-align: center;

    font-size: 1.1rem;
    margin: 1.5rem 0;

    /* Small animation that makes it so that the text eases downwards. */
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navbar .nav-items{
    opacity: 1;
   transform: translateY(0);
   transition-delay: .15s;
  }
}