*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  background: url(../../images/almanac-backdrop.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper{
  margin-top: 7.5rem;
}

.nav-items .active{
  color: red;
}

.dragon-names-wrap{
  display: grid;
  grid-template-rows: 7rem repeat(9, 4rem);
  grid-template-columns: 20% 75%;
  text-align: center;
  box-sizing: border-box;
  
  font-size: 22px;
  font-weight: 200;
  font-family: 'Ubuntu', serif;
}

.site-name{
  font-family: 'Merriweather', serif;
  border: 1px solid black;

  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.dragon-push{
  cursor: pointer;
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: rgba(0, 0, 0, 0.3);
}


.dragons{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 25vh 15vh 35vh;
}

.dragon-name{
  grid-column: 1/ span 3;
  align-self: center;

  font-size: 55px;
  color: #0E5814;
}

.element,
.habitat,
.age{
  font-weight: 800;
  color: black;
  background: rgba(255,255,255,0.1)
}

.text{
  grid-column: 1/ span 3;
  align-self: center;
  font-weight: 900;
}


/* Placements inside the grid */

.infernum{
  grid-row: 2;
  grid-column: 1;
  border: 1px solid black;

}

.infernum:hover{
  background: linear-gradient(var(--dr-bg-grad1));
}

.sprite{
  grid-row: 3;
  grid-column: 1;
  border: 1px solid black;

}

.anthracite{
  grid-row: 4;
  grid-column: 1;
  border: 1px solid black;

}

.tempest{
  grid-row: 5;
  grid-column: 1;
  border: 1px solid black;

}

.gaia{
  grid-row: 6;
  grid-column: 1;
  border: 1px solid black;

}

.voltmaw{
  grid-row: 7;
  grid-column: 1;
  border: 1px solid black;
}

.incindus{
  grid-row: 8;
  grid-column: 1;
  border: 1px solid black;

}

.mehthusala{
  grid-row: 9;
  grid-column: 1;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.starlight{
  grid-row: 10;
  grid-column: 1;
  border: 1px solid black;
}