/* Footer section styles */
footer{
  background: url(../../images/);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 80% 20%;
  gap: 2rem;
}

.contacts h2,
.operation-hours h2,
.location h2{
  text-align: center;
  font-size:25px;
  border-bottom: 1px solid;
  font-family: 'Merriweather', serif;
}

.contacts-list{
  margin-top: 5rem;
  padding: 2rem;
  height: 50%;
  text-align: center;
  font-family: 'Ubuntu', serif;
}
.location{
  width: 100%;
  text-align: center;
}

.operation-hours .hours{
  margin-top: 5rem;
  text-align: center;
  font-family: 'Ubuntu', serif;
}
.copyright{

  grid-column: 1/ span 3;
  width: 100%;
  text-align: center;
  font-family: 'Ubuntu', serif;
}