.alma-carousel {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.alma-title{
  color: white;
  background: rgba(0,0,0,.5);
  width: 100%;
  text-align: center;
}

.carousel-item {
  display: none;
  height: 100vh;
  padding: 20px;

  text-align: center;

  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.carousel-item:first-child {
  display: block;
  transform: translateX(0);
}

.small-desc {
  margin-top: 5px;
  border-top: 1px solid #ddd;
  overflow-y: auto;

  display: table-cell;
  height: 100%;
  vertical-align: middle;
  padding: 2rem 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.see-more {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1.5rem;

  border: none;
  border-radius: 5px;

  background-color: #0074cc;
  color: #fff;
  cursor: pointer;
}

.prev-button,
.next-button {
  position: absolute;
  padding: 10px 20px;
  top: 50%;
  margin-top: 10px;
  font-size: 1.5rem;

  border: none;
  border-radius: 5px;

  background-color: #0074cc;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 0;
  transform: translateY(-50%);
}

.next-button {
  right: 0;
  transform: translateY(-50%);
}

.prev-button:hover,
.next-button:hover {
  background-color: #00589f;
}

.dragon-name1,
.dragon-name2,
.dragon-name3,
.dragon-name4,
.dragon-name5,
.dragon-name6,
.dragon-name7,
.dragon-name8,
.dragon-name9{
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 20px;
  color: white;
}

/* Applying Images to each carousel and a gradient based on the dragon */

/* Infernum Dragon Style */
.wrap1{
  background: var(--dr-bg-grad1);
}

.drag-img1 {
  background: url(../../images/fire-dragon.jpg) no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Sprite Dragon Style */
.wrap2{
  background: var(--dr-bg-grad2);
}
.drag-img2{
  background: url(../../images/water-dragon.jpg) no-repeat;
  height: 100%;
  background-position: top;
  background-size: cover;
}
/* Anthracite Dragon Style */
.wrap3{
  background: var(--dr-bg-grad3);
}

.drag-img3{
  background: url(../../images/earth-dragon.jpg) no-repeat;
  height: 100%;
  background-position: top;
  background-size: cover;
}
/* Tempest Dragon Style */
.wrap4{
  background: var(--dr-bg-grad4);
}

.drag-img4{
  background: url(../../images/wind-dragon.jpg) no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
/* Gaia Dragon Style */
.wrap5{
  background: var(--dr-bg-grad5);
}

.drag-img5{
  background: url(../../images/plant-dragon.jpg) no-repeat;
  height: 100%;
  background-position: top;
  background-size: cover;
}

/* Voltmaw Dragon Style */
.wrap6{
  background: var(--dr-bg-grad6);
}

.drag-img6{
  background: url(../../images/lighting-dragon.jpg) no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Incindus Dragon Style */
.wrap7{
  background: var(--dr-bg-grad7);
}

.drag-img7{
  background: url(../../images/light-dragon.jpg) no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Mehthusala Dragon Style */
.wrap8{
  background: var(--dr-bg-grad8);
}

.drag-img8{
  background: url(../../images/dark-dragon.jpg) no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Starlight Dragon Style */

.wrap9{
  background: var(--dr-bg-grad9);
}

.drag-img9{
  background: url(../../images/cosmic-dragon.jpg) no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}