.nav-items{
  font-family: 'Merriweather', serif;
}

.hero-title{
  font-family: 'Ubuntu', serif;
  font-size: clamp(44px, 55px, 66px);
  font-weight: 800;
}
.hero-banner{
  font-family: 'Ubuntu', serif;
  font-size: clamp(15px, 33px, 44px);
  font-weight: 400;
}
.cta1,
.cta2{
  font-family: 'Ubuntu', serif;
  font-weight: 500;

  font-size: clamp(10px, 15px 30px) ;
}

.gal-title{
  color: #fff;
}

/* Dragon Almanac */
.prev-button:hover,
.next-button:hover {
  background-color: #00589f;
}